/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Clearings
# Opening Ticker
# Stories

--------------------------------------------------------------*/
/* Rem output with px fallback*/
/* Center block*/
/* Clearfix*/
/* Clear after (not all clearfix need this also)*/
/*CSS Transitions*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* line 1, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 7, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
body {
  margin: 0;
}

/* line 11, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 26, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 34, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 39, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 44, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
a {
  background-color: transparent;
}

/* line 48, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 53, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 57, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 62, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 66, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 71, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 76, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 80, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 88, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 92, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 96, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
img {
  border: 0;
}

/* line 100, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 104, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 108, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 113, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
pre {
  overflow: auto;
}

/* line 117, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 125, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 135, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
button {
  overflow: visible;
}

/* line 139, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 144, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 152, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 157, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 163, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
input {
  line-height: normal;
}

/* line 167, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 173, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 178, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 183, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 189, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 194, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 198, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 202, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 207, /Users/kadimac/Desktop/norc-repo/sass/_normalize.scss */
td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* line 1, /Users/kadimac/Desktop/norc-repo/sass/typography/_typography.scss */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: initial;
}

/* line 1, /Users/kadimac/Desktop/norc-repo/sass/typography/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

/* line 5, /Users/kadimac/Desktop/norc-repo/sass/typography/_headings.scss */
h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 31px 0 1px;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  /* line 5, /Users/kadimac/Desktop/norc-repo/sass/typography/_headings.scss */
  h1 {
    font-size: 26px;
    margin: 26px 0 0;
  }
}

@media screen and (max-width: 767px) {
  /* line 5, /Users/kadimac/Desktop/norc-repo/sass/typography/_headings.scss */
  h1 {
    font-size: 22px;
    margin: 22px 0 0;
  }
}

/* line 22, /Users/kadimac/Desktop/norc-repo/sass/typography/_headings.scss */
h2 {
  color: rgba(0, 0, 0, 0.43);
  font-size: 28px;
  font-weight: 300;
  margin: 0 0 20px;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  /* line 22, /Users/kadimac/Desktop/norc-repo/sass/typography/_headings.scss */
  h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  /* line 22, /Users/kadimac/Desktop/norc-repo/sass/typography/_headings.scss */
  h2 {
    font-size: 20px;
  }
}

/* line 1, /Users/kadimac/Desktop/norc-repo/sass/typography/_copy.scss */
p {
  color: rgba(0, 0, 0, 0.43);
  font-weight: 400;
  margin: 0;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

/* line 8, /Users/kadimac/Desktop/norc-repo/sass/typography/_copy.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 12, /Users/kadimac/Desktop/norc-repo/sass/typography/_copy.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 16, /Users/kadimac/Desktop/norc-repo/sass/typography/_copy.scss */
address {
  margin: 0 0 1.5em;
}

/* line 20, /Users/kadimac/Desktop/norc-repo/sass/typography/_copy.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: initial;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 31, /Users/kadimac/Desktop/norc-repo/sass/typography/_copy.scss */
code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

/* line 36, /Users/kadimac/Desktop/norc-repo/sass/typography/_copy.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 41, /Users/kadimac/Desktop/norc-repo/sass/typography/_copy.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* line 1, /Users/kadimac/Desktop/norc-repo/sass/elements/_elements.scss */
html {
  box-sizing: border-box;
}

/* line 5, /Users/kadimac/Desktop/norc-repo/sass/elements/_elements.scss */
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/* line 11, /Users/kadimac/Desktop/norc-repo/sass/elements/_elements.scss */
body {
  background: #000;
  /* Fallback for when there is no custom background color defined. */
}

/* line 15, /Users/kadimac/Desktop/norc-repo/sass/elements/_elements.scss */
blockquote, q {
  quotes: "" "";
}

/* line 18, /Users/kadimac/Desktop/norc-repo/sass/elements/_elements.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 24, /Users/kadimac/Desktop/norc-repo/sass/elements/_elements.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 1, /Users/kadimac/Desktop/norc-repo/sass/elements/_lists.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 5, /Users/kadimac/Desktop/norc-repo/sass/elements/_lists.scss */
ul {
  list-style: disc;
}

/* line 9, /Users/kadimac/Desktop/norc-repo/sass/elements/_lists.scss */
ol {
  list-style: decimal;
}

/* line 13, /Users/kadimac/Desktop/norc-repo/sass/elements/_lists.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 19, /Users/kadimac/Desktop/norc-repo/sass/elements/_lists.scss */
dt {
  font-weight: bold;
}

/* line 23, /Users/kadimac/Desktop/norc-repo/sass/elements/_lists.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 33, /Users/kadimac/Desktop/norc-repo/sass/elements/_elements.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 38, /Users/kadimac/Desktop/norc-repo/sass/elements/_elements.scss */
figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

/* line 1, /Users/kadimac/Desktop/norc-repo/sass/elements/_tables.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Make sure embeds and iframes fit their containers. */
/* line 2, /Users/kadimac/Desktop/norc-repo/sass/elements/_media.scss */
embed,
iframe,
object {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*Story Pages*/
/* line 2, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.story-content {
  margin-top: 114px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -ms-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 2, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
  .story-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

/* line 17, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.left-50 {
  background-color: beige;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: 0;
  position: absolute;
}

@media screen and (max-width: 767px) {
  /* line 17, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
  .left-50 {
    width: 1000vw;
  }
}

/* line 35, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.left-50 .picture img {
  height: 100%;
  width: 50vw;
}

/* line 40, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.left-50 .picture:before {
  content: url("/img/zoom.svg");
  height: 27px;
  left: 92.5%;
  margin-top: 15px;
  opacity: .8;
  position: absolute;
  width: 26px;
  -webkit-transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  /* line 40, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
  .left-50 .picture:before {
    left: 90%;
  }
}

/* line 55, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.left-50 .picture:hover {
  cursor: pointer;
}

/* line 58, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.left-50 .picture:hover:before {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

/* line 65, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.left-50 .video {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("/img/cuba-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 27vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50vw;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
  /* line 65, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
  .left-50 .video {
    height: 30vw;
  }
}

/* line 90, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.left-50 .video img {
  height: 125px;
  opacity: .8;
  -webkit-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

@media screen and (min-width: 1441px) {
  /* line 90, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
  .left-50 .video img {
    height: 150px;
  }
}

@media screen and (max-width: 1000px) {
  /* line 90, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
  .left-50 .video img {
    height: 115px;
  }
}

/* line 104, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.left-50 .video:hover {
  cursor: pointer;
}

/* line 107, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.left-50 .video:hover img {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

/* line 115, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
.right-50 {
  padding: 34px 48px;
  position: absolute;
  right: 0;
  width: 50%;
  -webkit-transition: padding 0.3s ease-in-out;
  -moz-transition: padding 0.3s ease-in-out;
  -ms-transition: padding 0.3s ease-in-out;
  -o-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  /* line 115, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
  .right-50 {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  /* line 115, /Users/kadimac/Desktop/norc-repo/sass/elements/_columns.scss */
  .right-50 {
    padding: 20px;
    width: 100vw;
  }
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* line 1, /Users/kadimac/Desktop/norc-repo/sass/forms/_buttons.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
}

/* line 14, /Users/kadimac/Desktop/norc-repo/sass/forms/_buttons.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

/* line 18, /Users/kadimac/Desktop/norc-repo/sass/forms/_buttons.scss */
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

/* line 1, /Users/kadimac/Desktop/norc-repo/sass/forms/_fields.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

/* line 22, /Users/kadimac/Desktop/norc-repo/sass/forms/_fields.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

/* line 27, /Users/kadimac/Desktop/norc-repo/sass/forms/_fields.scss */
select {
  border: 1px solid #ccc;
}

/* line 31, /Users/kadimac/Desktop/norc-repo/sass/forms/_fields.scss */
textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/* line 1, /Users/kadimac/Desktop/norc-repo/sass/navigation/_links.scss */
a {
  outline: 0;
  text-decoration: none;
}

/* line 5, /Users/kadimac/Desktop/norc-repo/sass/navigation/_links.scss */
a:hover, a:focus, a:active, a:visited {
  outline: 0;
  text-decoration: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* line 1, /Users/kadimac/Desktop/norc-repo/sass/navigation/_menus.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

/* line 7, /Users/kadimac/Desktop/norc-repo/sass/navigation/_menus.scss */
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 13, /Users/kadimac/Desktop/norc-repo/sass/navigation/_menus.scss */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

/* line 21, /Users/kadimac/Desktop/norc-repo/sass/navigation/_menus.scss */
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

/* line 27, /Users/kadimac/Desktop/norc-repo/sass/navigation/_menus.scss */
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

/* line 33, /Users/kadimac/Desktop/norc-repo/sass/navigation/_menus.scss */
.main-navigation ul ul a {
  width: 200px;
}

/* line 46, /Users/kadimac/Desktop/norc-repo/sass/navigation/_menus.scss */
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

/* line 52, /Users/kadimac/Desktop/norc-repo/sass/navigation/_menus.scss */
.main-navigation li {
  float: left;
  position: relative;
}

/* line 61, /Users/kadimac/Desktop/norc-repo/sass/navigation/_menus.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
/* line 2, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
.header-logo {
  left: 30px;
  position: fixed;
  top: 25px;
  width: 230px;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  /* line 2, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
  .header-logo {
    left: 15px;
    position: fixed;
    top: 15px;
    width: 175px;
  }
}

/* line 18, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
#logo .tagline {
  fill: rgba(255, 255, 255, 0.85);
}

/* line 21, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
#logo .nrc {
  fill: rgba(255, 255, 255, 0.85);
}

/* line 24, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
#logo .star {
  fill: #fff;
}

/* line 30, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
#color-logo .nrc {
  fill: #A9A09A;
}

/* line 33, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
#color-logo .star {
  fill: #E87424;
}

/* line 38, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
.header-background {
  background-color: rgba(0, 0, 0, 0.41);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

/* line 48, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
.sub-nav {
  display: flex;
  position: fixed;
  top: 80px;
  width: 100vw;
  z-index: 12;
}

/* line 55, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
.sub-nav .story-item {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  height: auto;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  /* line 55, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
  .sub-nav .story-item {
    font-size: 13px;
    padding: 10px;
  }
}

@media screen and (max-width: 800px) {
  /* line 55, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
  .sub-nav .story-item {
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  /* line 55, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
  .sub-nav .story-item {
    font-size: 16px;
    padding: 9px;
    width: 100vw !important;
  }
}

/* line 80, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
.sub-nav .story-item:hover {
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  -ms-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 48, /Users/kadimac/Desktop/norc-repo/sass/navigation/_header.scss */
  .sub-nav {
    flex-wrap: wrap;
    padding: 10px 0 45px;
  }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
/* line 2, /Users/kadimac/Desktop/norc-repo/sass/modules/_accessibility.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

/* line 10, /Users/kadimac/Desktop/norc-repo/sass/modules/_accessibility.scss */
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
/* line 31, /Users/kadimac/Desktop/norc-repo/sass/modules/_accessibility.scss */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/* line 1, /Users/kadimac/Desktop/norc-repo/sass/modules/_clearings.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

/* line 16, /Users/kadimac/Desktop/norc-repo/sass/modules/_clearings.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Opening Ticker
--------------------------------------------------------------*/
/* line 1, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
body {
  background-color: #151336;
}

/* line 5, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
.entry-screen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 767px) {
  /* line 5, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .entry-screen {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 25px;
  }
}

/* line 23, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
.entry-screen .typed-first, .entry-screen .typed-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 30, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
.entry-screen .typed-first {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  /* line 30, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .entry-screen .typed-first {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

/* line 44, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
.entry-screen .ti-cursor {
  color: #fff !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: 77px !important;
  font-weight: 400 !important;
  line-height: 66px !important;
  z-index: 2000 !important;
}

@media screen and (max-width: 1024px) {
  /* line 44, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .entry-screen .ti-cursor {
    font-size: 60px !important;
    line-height: 54px !important;
  }
}

@media screen and (max-width: 767px) {
  /* line 44, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .entry-screen .ti-cursor {
    font-size: 44px !important;
    line-height: 10px !important;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: none !important;
    /* Remove this to work on mobile cursor*/
  }
}

/* line 74, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
.entry-screen .text-overlay {
  height: 100%;
  left: 42%;
  position: absolute;
  width: 705px;
  z-index: 1000;
}

@media screen and (max-width: 1024px) {
  /* line 74, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .entry-screen .text-overlay {
    left: 40%;
    width: 554px;
  }
}

@media screen and (max-width: 767px) {
  /* line 74, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .entry-screen .text-overlay {
    left: 0;
    margin-top: 6vh;
    width: 100%;
  }
}

/* line 94, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
.intro {
  background-color: #151336;
  margin-top: 40vh;
}

@media screen and (max-width: 1024px) {
  /* line 94, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .intro {
    margin-top: 43vh;
  }
}

@media screen and (max-width: 767px) {
  /* line 94, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .intro {
    margin-top: 32vh;
  }
}

/* line 106, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
.intro-left {
  color: #E87424;
  width: 42%;
}

@media screen and (max-width: 1024px) {
  /* line 106, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .intro-left {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  /* line 106, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .intro-left {
    width: 100%;
  }
}

/* line 118, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
.intro-left h3 {
  font-size: 77px;
  font-weight: 400;
  line-height: 86px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  /* line 118, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .intro-left h3 {
    font-size: 60px;
    line-height: 68px;
  }
}

@media screen and (max-width: 767px) {
  /* line 118, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .intro-left h3 {
    font-size: 44px;
    line-height: 50px;
  }
}

/* line 136, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
.intro-right {
  color: #fff;
  padding-left: 14px;
  width: 58%;
}

@media screen and (max-width: 1024px) {
  /* line 136, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .intro-right {
    padding-left: 12px;
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  /* line 136, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .intro-right {
    margin-top: 19px;
    padding-left: 0;
    width: 100%;
  }
}

/* line 152, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
.intro-right h3 {
  font-size: 77px;
  font-weight: 400;
  line-height: 86px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  /* line 152, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .intro-right h3 {
    font-size: 60px;
    line-height: 68px;
  }
}

@media screen and (max-width: 767px) {
  /* line 152, /Users/kadimac/Desktop/norc-repo/sass/pages/_ticker.scss */
  .intro-right h3 {
    font-size: 44px;
    line-height: 54px;
    margin-top: -10px;
    text-align: left;
  }
}

/*--------------------------------------------------------------
# Story Pages
--------------------------------------------------------------*/
/* line 3, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
.story-page .header-logo {
  width: 164px;
}

@media screen and (max-width: 767px) {
  /* line 3, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
  .story-page .header-logo {
    width: 140px;
  }
}

/* line 11, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
.story-page p {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  /* line 11, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
  .story-page p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  /* line 11, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
  .story-page p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;
  }
}

/* line 29, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
.story-page .data {
  color: #000;
  font-size: 18px;
  line-height: 26px;
}

@media screen and (max-width: 1024px) {
  /* line 29, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
  .story-page .data {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  /* line 29, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
  .story-page .data {
    font-size: 15px;
    line-height: 21px;
  }
}

/* line 45, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
.story-page_global {
  background-color: #e8e2e8;
}

/* line 48, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
.story-page_global .header-background {
  background-color: #e8e2e8;
}

/* line 52, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
.story-page_global .sub-nav {
  background-color: #e1dae1;
}

/* line 55, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
.story-page_global .sub-nav .story-item {
  width: 25vw;
}

/* line 58, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
.story-page_global .sub-nav .story-item:hover {
  background-color: rgba(97, 49, 100, 0.16);
  color: #613064;
}

/* line 63, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
.story-page_global .sub-nav .story-item.active {
  background-color: rgba(97, 49, 100, 0.16);
  color: #613064;
}

/* line 70, /Users/kadimac/Desktop/norc-repo/sass/pages/_stories.scss */
.story-page_global h1 {
  color: #613064;
}

/*# sourceMappingURL=../css/style.map */