/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Clearings
# Opening Ticker
# Stories

--------------------------------------------------------------*/
/* Rem output with px fallback*/
/* Center block*/
/* Clearfix*/
/* Clear after (not all clearfix need this also)*/
/*CSS Transitions*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: initial;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 1px;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 22px;
  }
}

h2 {
  color: rgba(0, 0, 0, 0.43);
  font-size: 28px;
  font-weight: 300;
  margin: 0 0 20px;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

p {
  color: rgba(0, 0, 0, 0.43);
  font-weight: 400;
  margin: 0;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: initial;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #000;
  /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes: "" "";
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.page-overlay {
  background-color: #fff;
  display: none;
  height: 100vh;
  opacity: .91;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 105;
}

.no-scroll {
  overflow: hidden;
}

/*Story Pages*/
.story-content {
  margin-top: 114px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -ms-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .story-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.left-50 {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: 0;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .left-50 {
    width: 1000vw;
  }
}

.left-50 .picture img {
  height: 100%;
  width: 50vw;
}

.left-50 .picture:before {
  content: url("/img/zoom.svg");
  height: 27px;
  left: 92.5%;
  margin-top: 15px;
  opacity: .8;
  position: absolute;
  width: 26px;
  -webkit-transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .left-50 .picture:before {
    left: 90%;
  }
}

.left-50 .picture:hover {
  cursor: pointer;
}

.left-50 .picture:hover:before {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.left-50 .video {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("/img/cuba-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 27vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50vw;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .left-50 .video {
    height: 30vw;
  }
}

.left-50 .video img {
  height: 125px;
  opacity: .8;
  -webkit-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

@media screen and (min-width: 1441px) {
  .left-50 .video img {
    height: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .left-50 .video img {
    height: 115px;
  }
}

.left-50 .video:hover {
  cursor: pointer;
}

.left-50 .video:hover img {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.right-50 {
  padding: 34px 48px;
  position: absolute;
  right: 0;
  width: 50%;
  -webkit-transition: padding 0.3s ease-in-out;
  -moz-transition: padding 0.3s ease-in-out;
  -ms-transition: padding 0.3s ease-in-out;
  -o-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .right-50 {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .right-50 {
    padding: 20px;
    width: 100vw;
  }
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  outline: 0;
  text-decoration: none;
}

a:hover, a:focus, a:active, a:visited {
  outline: 0;
  text-decoration: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  float: left;
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header-logo {
  left: 30px;
  position: fixed;
  top: 25px;
  width: 230px;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header-logo {
    left: 15px;
    position: fixed;
    top: 15px;
    width: 175px;
  }
}

#logo .tagline {
  fill: rgba(255, 255, 255, 0.85);
}

#logo .nrc {
  fill: rgba(255, 255, 255, 0.85);
}

#logo .star {
  fill: #fff;
}

#color-logo .nrc {
  fill: #A9A09A;
}

#color-logo .star {
  fill: #E87424;
}

.header-background {
  background-color: rgba(0, 0, 0, 0.41);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.sub-nav {
  display: flex;
  position: fixed;
  top: 80px;
  width: 100vw;
  z-index: 12;
}

.sub-nav .story-item {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  height: auto;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .sub-nav .story-item {
    font-size: 13px;
    padding: 10px;
  }
}

@media screen and (max-width: 800px) {
  .sub-nav .story-item {
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  .sub-nav .story-item {
    font-size: 16px;
    padding: 9px;
    width: 100vw !important;
  }
}

.sub-nav .story-item:hover {
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  -ms-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

@media screen and (max-width: 767px) {
  .sub-nav {
    flex-wrap: wrap;
    padding: 10px 0 45px;
  }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Opening Ticker
--------------------------------------------------------------*/
body {
  background-color: #151336;
}

.entry-screen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 900px) {
  .entry-screen {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 25px;
  }
}

@media screen and (max-width: 767px) {
  .entry-screen {
    padding: 0 9px;
  }
}

.entry-screen .typed-first, .entry-screen .typed-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.entry-screen .typed-first {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

@media screen and (max-width: 900px) {
  .entry-screen .typed-first {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.entry-screen .ti-cursor {
  color: #fff !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: 77px !important;
  font-weight: 400 !important;
  line-height: 66px !important;
  z-index: 2000 !important;
}

@media screen and (max-width: 1024px) {
  .entry-screen .ti-cursor {
    font-size: 60px !important;
    line-height: 54px !important;
  }
}

@media screen and (max-width: 900px) {
  .entry-screen .ti-cursor {
    font-size: 44px !important;
    line-height: 10px !important;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: none !important;
    /* Remove this to work on mobile cursor*/
  }
}

.entry-screen .text-overlay {
  height: 100%;
  left: 410px;
  position: absolute;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  width: 705px;
  z-index: 1000;
}

@media screen and (max-width: 1320px) {
  .entry-screen .text-overlay {
    left: 377px;
  }
}

@media screen and (max-width: 1200px) {
  .entry-screen .text-overlay {
    left: 306px;
  }
}

@media screen and (max-width: 1024px) {
  .entry-screen .text-overlay {
    left: 271px;
    width: 554px;
  }
}

@media screen and (max-width: 900px) {
  .entry-screen .text-overlay {
    height: auto;
    left: 0;
    margin-top: 374px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .entry-screen .text-overlay {
    margin-top: 49vh;
  }
}

.intro {
  background-color: #151336;
  margin-top: 40vh;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-top: 43vh;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    margin-top: 300px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin-top: 40vh;
  }
}

.intro-left {
  color: #E87424;
  width: 410px;
}

@media screen and (max-width: 1320px) {
  .intro-left {
    width: 377px;
  }
}

@media screen and (max-width: 1200px) {
  .intro-left {
    width: 306px;
  }
}

@media screen and (max-width: 1024px) {
  .intro-left {
    width: 271px;
  }
}

@media screen and (max-width: 900px) {
  .intro-left {
    width: 100%;
  }
}

.intro-left h3 {
  font-size: 77px;
  font-weight: 400;
  line-height: 86px;
  margin: 0 0 0 55px;
}

@media screen and (max-width: 1320px) {
  .intro-left h3 {
    font-size: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .intro-left h3 {
    font-size: 62px;
    margin-left: 21px;
  }
}

@media screen and (max-width: 1024px) {
  .intro-left h3 {
    font-size: 54px;
    line-height: 68px;
  }
}

@media screen and (max-width: 900px) {
  .intro-left h3 {
    font-size: 60px;
    margin-left: 31px;
  }
}

@media screen and (max-width: 767px) {
  .intro-left h3 {
    font-size: 44px;
    line-height: 50px;
    margin-left: 3px;
  }
}

.intro-right {
  color: #fff;
  padding-left: 14px;
  width: auto;
}

@media screen and (max-width: 1024px) {
  .intro-right {
    padding-left: 12px;
  }
}

@media screen and (max-width: 900px) {
  .intro-right {
    margin-top: 19px;
    padding-left: 32px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .intro-right {
    padding-left: 5px;
  }
}

.intro-right h3 {
  font-size: 77px;
  font-weight: 400;
  line-height: 86px;
  margin: 0;
}

@media screen and (max-width: 1320px) {
  .intro-right h3 {
    font-size: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .intro-right h3 {
    font-size: 62px;
  }
}

@media screen and (max-width: 1024px) {
  .intro-right h3 {
    font-size: 54px;
    line-height: 68px;
  }
}

@media screen and (max-width: 900px) {
  .intro-right h3 {
    font-size: 60px;
    margin-left: 0;
    margin-top: -10px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .intro-right h3 {
    font-size: 44px;
    line-height: 54px;
    margin-top: -12px;
  }
}

/*--------------------------------------------------------------
# Story Pages
--------------------------------------------------------------*/
.story-page .header-logo {
  width: 164px;
}

@media screen and (max-width: 767px) {
  .story-page .header-logo {
    width: 140px;
  }
}

.story-page p {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .story-page p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .story-page p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;
  }
}

.story-page .data {
  color: #000;
  font-size: 18px;
  line-height: 26px;
}

@media screen and (max-width: 1024px) {
  .story-page .data {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .story-page .data {
    font-size: 15px;
    line-height: 21px;
  }
}

.story-page_global {
  background-color: #e8e2e8;
}

.story-page_global .header-background {
  background-color: #e8e2e8;
}

.story-page_global .sub-nav {
  background-color: #e1dae1;
}

.story-page_global .sub-nav .story-item {
  width: 25vw;
}

.story-page_global .sub-nav .story-item:hover {
  background-color: rgba(97, 49, 100, 0.16);
  color: #613064;
}

.story-page_global .sub-nav .story-item.active {
  background-color: rgba(97, 49, 100, 0.16);
  color: #613064;
}

.story-page_global h1 {
  color: #613064;
}

.story-page_global .page-overlay {
  background-color: #e8e2e8;
}

.story-page .image-container {
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 106;
}

.story-page .image-container img {
  display: none;
  max-height: 100%;
}

.story-page .image-container.move-out {
  -webkit-transition: left 0.35s ease-in-out;
  -moz-transition: left 0.35s ease-in-out;
  -ms-transition: left 0.35s ease-in-out;
  -o-transition: left 0.35s ease-in-out;
  transition: left 0.35s ease-in-out;
  height: 100vh;
  padding: 80px 130px 80px 175px;
  top: 0;
  width: 100vw;
}

@media screen and (min-width: 1441px) {
  .story-page .image-container.move-out {
    padding: 100px 160px 100px 205px;
  }
}

@media screen and (max-width: 1210px) {
  .story-page .image-container.move-out {
    padding: 80px 100px 80px 145px;
  }
}

@media screen and (max-width: 1024px) {
  .story-page .image-container.move-out {
    padding: 100px 50px 100px 95px;
  }
}

@media screen and (max-width: 900px) {
  .story-page .image-container.move-out {
    padding: 60px 30px 60px 65px;
  }
  .story-page .image-container.move-out .main-image {
    max-width: 98%;
  }
}

@media screen and (max-width: 767px) {
  .story-page .image-container.move-out {
    padding: 60px 30px;
  }
}

.story-page .image-container.move-in {
  -webkit-transition: left 0.55s ease-in-out;
  -moz-transition: left 0.55s ease-in-out;
  -ms-transition: left 0.55s ease-in-out;
  -o-transition: left 0.55s ease-in-out;
  transition: left 0.55s ease-in-out;
  height: 100vh;
  left: 0 !important;
  padding: 80px 130px 80px 175px;
  top: 0;
  width: 100vw;
}

@media screen and (min-width: 1441px) {
  .story-page .image-container.move-in {
    padding: 100px 160px 100px 205px;
  }
}

@media screen and (max-width: 1210px) {
  .story-page .image-container.move-in {
    padding: 80px 100px 80px 145px;
  }
}

@media screen and (max-width: 1024px) {
  .story-page .image-container.move-in {
    padding: 100px 50px 100px 95px;
  }
}

@media screen and (max-width: 900px) {
  .story-page .image-container.move-in {
    padding: 60px 30px 60px 65px;
  }
  .story-page .image-container.move-in .main-image {
    max-width: 98%;
  }
}

@media screen and (max-width: 767px) {
  .story-page .image-container.move-in {
    padding: 60px 30px;
  }
}

.story-page .image-container .caption {
  color: rgba(0, 0, 0, 0.55);
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 0;
  position: absolute;
  width: 100vw;
}

.story-page .image-container .close-button {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -ms-flex-item-align: start;
  align-self: flex-start;
  cursor: pointer;
  opacity: .55;
  margin: 0 0 0 23px;
}

@media screen and (max-width: 900px) {
  .story-page .image-container .close-button {
    margin: 0 0 0 13px;
  }
}

.story-page .image-container .close-button:hover {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
