body {
  background-color: $navy;
}

.entry-screen {
  display: flex;
  height: 100vh;
  width: 100vw;

  @media screen and (max-width: 767px) {
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 25px;
  }

  .text-overlay {
    background-image: url('/img/grid.png');
    background-position: 11px 23.3vh;
    background-repeat: no-repeat;
    background-size: 650px;
    height: 100vh;
    position: absolute;
    right: 0;
    width: $large-right;
    z-index: 1000;

    @media screen and (max-width: 1024px) {
      background-position: 7px 23.2vh;
      background-size: 575px;
      width: $large-right-tablet;
    }

    @media screen and (max-width: 767px) {
      background-image: url('/img/grid.png');
      background-position: left 266px;
      background-repeat: no-repeat;
      background-size: 418px;
      width: 100vw;
    }
  }
}

.intro {
  background-color: $navy;
  margin-top: 37vh;

  @media screen and (max-width: 767px) {
    margin-top: 32vh;
  }

  &-left {
    color: $orange;
    width: $small-left;

    @media screen and (max-width: 1024px) {
      width: $small-left-tablet;
    }

    @media screen and (max-width: 767px) {
      width: $small-left-mobile;
    }

    h3 {
      font-size: 77px;
      font-weight: 400;
      line-height: 86px;
      margin: 0;
      text-align: right;

      @media screen and (max-width: 1024px) {
        font-size: 60px;
        line-height: 68px;
      }

      @media screen and (max-width: 767px) {
        font-size: 44px;
        line-height: 50px;
        text-align: left;
      }
    }
  }

  &-right {
    color: $white;
    padding-left: 22px;
    width: $large-right;

    @media screen and (max-width: 1024px) {
      width: $large-right-tablet;
    }

    @media screen and (max-width: 767px) {
      margin-top: 0;
      padding-left: 0;
      width: $large-right-mobile;
    }

    h3 {
      font-size: 77px;
      font-weight: 400;
      line-height: 86px;
      margin: 0;

      @media screen and (max-width: 1024px) {
        font-size: 60px;
        line-height: 68px;
      }

      @media screen and (max-width: 767px) {
        font-size: 44px;
        line-height: 50px;
        margin-top: -15px;
        text-align: left;
      }
    }
  }
}
