p {
  color: $text-grey;
  font-weight: 400;
  @include transition(font-size .3s ease-in-out);

  @media screen and (max-width:767px) {
    color: $mobile-text-grey;
  }
}

.main {
  p {
    color: $white-85;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: .75px;
    line-height: 36px;
    text-shadow: 1px 1px 100px rgba(0,0,0,.6);

    @media screen and (max-width: 1024px) {
      font-size: 21px;
      line-height: 34px;
    }

    @media screen and (max-width: 767px) {
      font-size: 17px;
      font-weight: 400 !important;
      letter-spacing: 0px;
      line-height: 25px;
    }
  }

  .president p,
  .insight p,
  .gain-more p {
    text-shadow: none;
  }
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  @include font-size(0.9375);
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: $font__code;
  @include font-size(0.9375);
}

abbr, acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

mark, ins {
  background: $color__background-ins;
  text-decoration: none;
}

sup {
  font-size: 65%;
  padding: 2px;
  top: -0.7em;
}
