h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 1px;
  @include transition(font-size .3s ease-in-out);

  @media screen and (max-width: 1024px) {
    font-size: 26px;
  }

  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}

h2 {
  color: $text-grey;
  font-size: 28px;
  font-weight: 300;
  margin: 0 0 20px;
  @include transition(font-size .3s ease-in-out);

  @media screen and (max-width: 1024px) {
    font-size: 24px;
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

.main h2 {
  color: $white;
  font-size: 32px;
  margin: 0 0 9px;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 28px;
  }

  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}

h3 {
  @include transition(font-size .3s ease-in-out);
}
