.two-column {
  &.insight {
    background-color: $orange;
  }
}

.area {
  background-position: center;
  background-size: cover;
  padding: 20px 16.5vw 0;

  @media screen and (min-width: 1600px) {
    padding: 20px 20vw 0;
  }

  @media screen and (max-width: 1300px) {
    padding: 20px 13vw 0;
  }

  @media screen and (max-width: 1100px) {
    padding: 20px 10vw 0;
  }

  @media screen and (max-width: 800px) {
    padding: 20px 13vw 0;
  }

  @media screen and (max-width: 767px) {
    padding: 20px 30px 0;
  }

  &.president {
    background-image: url('/img/president-background.jpg');
  }

  &.economics {
    background-image: url('/img/economics-background.jpg');
  }

  &.education {
    background-image: url('/img/education-background.jpg');
  }

  &.global {
    background-image: url('/img/global-background.jpg');
  }

  &.health {
    background-image: url('/img/health-background.jpg');
  }

  &.society {
    background-image: url('/img/society-background.jpg');
  }

  &.leadership {
    background-color: $navy;
  }

  &.gain-more {
    background-color: $navy;
  }
}
