.two-column {
  &.insight {
    background-color: $orange;
  }
}

.slide {
  background-position: center;
  background-size: cover;

  &.president {
    background-image: url('/img/president-background.jpg');
  }

  &.economics {
    background-image: url('/img/economics-background.jpg');
  }

  &.education {
    background-image: url('/img/education-background.jpg');
  }

  &.global {
    background-image: url('/img/global-background.jpg');
  }

  &.health {
    // background-image: url('/img/health-background.jpg');
  }

  &.society {
    background-image: url('/img/society-background.jpg');
  }

  &.leadership {
    background-color: $navy;
  }

  &.gain-more {
    background-color: $navy;
  }
}

.area {

  .landing-text {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0 16.5vw;

    @media screen and (min-width: 1600px) {
      padding: 0 20vw;
    }

    @media screen and (max-width: 1300px) {
      padding: 0 13vw;
    }

    @media screen and (max-width: 1100px) {
      padding: 0 10vw;
    }

    @media screen and (max-width: 800px) {
      padding: 0 13vw;
    }

    @media screen and (max-width: 767px) {
      padding: 0 30px;
    }

    .slide-title {
      color: $white;
      display: inline-block;
      font-size: 30px;
      text-align: center;
      width: 100%;

      @media screen and (max-width: 1024px) {
        font-size: 26px;
      }

      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }
  }

  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 60px 60px;
    width: 100%;

    @media screen and (min-width: 1600px) {
      padding: 0 10vw;
    }

    .one-vertical {
      align-content: space-between;
      display: flex;
      flex-wrap: wrap;
      height: 405px;
      margin-bottom: 40px;
      padding: 10px;
      width: 48%;

      @media screen and (max-width: 1200px) {
        height: 385px;
      }

      @media screen and (max-width: 1024px) {
        height: 355px;
      }

      @media screen and (max-width: 900px) {
        height: 385px;
        margin-bottom: 26px;
        width: 98%;
      }

      .four {
        background-color: $maroon;
        overflow: hidden;
        width: 100%;

        img {
          height: 100%;
          width: auto;
          max-width: none;
        }

        .large.caption {
          line-height: 28px;
          margin: 8px 0 0;
          position: absolute;
          width: 42%;

          @media screen and (max-width: 900px) {
            font-size: 19px;
            line-height: 23px;
            margin: -5px 0 0;
            padding: 8px 0 0;
            width: 75%;
          }
        }
      }
    }

    .mobile-tiles {
      display: none;

      @media screen and (max-width: 900px) {
        align-content: space-between;
        display: flex;
        flex-wrap: wrap;
        height: 385px;
        padding: 10px;
        width: 49%;
      }
    }

    .two-vertical {
      align-content: space-between;
      display: flex;
      flex-wrap: wrap;
      height: 405px;
      padding: 10px;
      width: 24%;

      @media screen and (max-width: 1200px) {
        height: 385px;
      }
      @media screen and (max-width: 1024px) {
        height: 355px;
      }
      @media screen and (max-width: 900px) {
        display: none;
        // height: 385px;
        // width: 49%;
      }

      .one {
        background-color: $maroon;
        overflow: hidden;
        width: 100%;
        height: 47.5%;

        @media screen and (max-width: 900px) {
          margin-bottom: 70px;
        }

        img {
          height: 100%;
          width: auto;
          max-width: none;
        }

        &.blank {
          background-color: transparent;

          @media screen and (max-width: 900px) {
            display: none;
          }
        }

        .small.caption {
          font-size: 21px;
          line-height: 25px;
          margin: -174px 0 0;
          padding: 0 14px;
          position: absolute;
          width: 20%;

          @media screen and (max-width: 1200px) {
            margin: -164px 0 0;
          }

          @media screen and (max-width: 1024px) {
            font-size: 19px;
            line-height: 24px;
            margin: -154px 0 0;
          }

          @media screen and (max-width: 900px) {
            margin: -5px 0 0;
            padding: 8px 0 0;
            width: 38%;
          }

          @media screen and (max-width: 767px) {
            font-size: 18px;
            line-height: 30px;
          }

          &.white {
            color: $white;
          }

          &.black {
            color: $black;
            font-weight: 400 !important;
            letter-spacing: .25px;

            @media screen and (max-width: 900px) {
              color: $white-85;
              font-weight: 300 !important;
              letter-spacing: .75px;
            }
          }
        }
      }
    }
  }
}
