.main {
  overflow-x: hidden;
  
  .section-title.active {
    display: inline-block;
    color: $white !important;
  }
}

.slider {
  /* line them up horizontally */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  left: 0;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  /* each slide snaps into place on iOS */
  -webkit-scroll-snap-points-x: repeat(1000px);
  -ms-scroll-snap-points-x: repeat(1000px);
  scroll-snap-points-x: repeat(1000px);
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  position: absolute;
}

.slider > div {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100vw;
}

.area {
  height: 100vh;
  overflow: scroll;
  width: 100vw;
}

.slide.insight {
  background-color: $orange;

  .left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    padding: 34px 74px 0;
    position: fixed;
    width: 50vw;

    @media screen and (max-width: 900px) {
      padding: 34px 50px 0 0;
      width: 40vw;
    }

    @media screen and (max-width: 767px) {
      height: auto;
      padding: 103px 20px 0;
      position: relative;
      width: 100vw;
    }

    h2 {
      font-size: 77px;
      font-weight: 400;
      line-height: 86px;
      margin: 0;
      text-align: right;
      width: 100%;

      @media screen and (max-width: 1024px) {
        font-size: 65px;
        line-height: 78px;
      }

      @media screen and (max-width: 900px) {
        font-size: 50px;
        line-height: 64px;
      }

      @media screen and (max-width: 767px) {
        font-size: 36px;
        line-height: 44px;
        text-align: left;
      }
    }
  }

  .right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    padding: 34px 74px 0 50vw;
    width: 100%;

    @media screen and (max-width: 900px) {
      padding-left: 40vw;
    }

    @media screen and (max-width: 767px) {
      display: inline-block;
      height: auto;
      padding: 20px 20px 40px;
    }

    p {
      font-size: 28px;
      line-height: 42px;
      margin: 0;

      @media screen and (max-width: 1200px) {
        font-size: 24px;
        line-height: 38px;
      }

      @media screen and (max-width: 1024px) {
        font-size: 22px;
        line-height: 34px;
      }

      @media screen and (max-width: 900px) {
        font-size: 21px;
        line-height: 36px;
      }

      @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}

.nav-arrow {
  @include transition(all .2s ease-in-out);
  border: solid $white-65;
  border-width: 0 2px 2px 0;
  cursor: pointer;
  height: 0;
  padding: 14px;
  position: fixed;
  top: 48%;
  width: 0;
  z-index: 2000;

  &.prev {
    display: none;
    left: 35px;
    -webkit-transform: rotate(135deg) skew(-2deg, -2deg);
    transform: rotate(135deg) skew(-2deg, -2deg);
  }

  &.next {
    right: 35px;
    -webkit-transform: rotate(-45deg) skew(-2deg, -2deg);
    transform: rotate(-45deg) skew(-2deg, -2deg);
  }

  &:hover {
    @include transition(all .3s ease-in-out);
    border-color: $white-85;
  }
}

.bottom-arrow {
  bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 1000;

  .explore {
    @include transition(all .2s ease-in-out);
    color: $white-65;
    cursor: default;
    font-size: 14px;
    letter-spacing: 2.5px;
    line-height: 14px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100vw;
  }

  .down-arrow {
    @include transition(all .2s ease-in-out);
    border: solid $white-65;
    border-width: 0 2px 2px 0;
    cursor: pointer;
    height: 0;
    padding: 14px;
    -webkit-transform: rotate(45deg) skew(-2deg, -2deg);
    transform: rotate(45deg) skew(-2deg, -2deg);
    width: 0;

    &:hover {
      @include transition(all .3s ease-in-out);
      border-color: $white-85;
    }
  }
}

.slide {
  background-position: center;
  background-size: cover;

  &.president {
    background-image: url('/img/president-background.jpg');

    .area {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

      @media screen and (max-width: 900px) {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
    }

    a {
      cursor: default;
    }

    .landing-text {
      height: auto;
      margin-top: 155px;
      padding: 0 60px 0 30px;
      width: 50vw;

      @media screen and (max-width: 900px) {
        margin-top: 0;
        padding: 20px 74px 0;
        width: 100vw;
      }

      @media screen and (max-width: 767px) {
        padding: 0 20px;
      }

      p {
        color: $black-55;
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 20px;
        margin-top: 0;

        @media screen and (max-width: 1024px) {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 16px;
        }

        @media screen and (max-width: 767px) {
          color: $mobile-text-grey;
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 14px;
        }

        &:last-of-type {
          margin-bottom: 23px;

          @media screen and (max-width: 1024px) {
            margin-bottom: 24px;
          }
        }
      }

      .mobile-video {
        display: none;
        margin: 15px 0;

        @media screen and (max-width: 900px) {
          display: inline-block;
        }

        .four .caption {
          color: $white;
          font-size: 18px;
          line-height: 25px;
          margin: -1px 0 0;
          padding: 0;
          position: relative;
          width: 100%;
        }
      }

      .slide-title {
        color: $black-55;
        padding-bottom: 15px;
        text-align: left;
      }
    }

    .thumbnails {
      margin-top: 144px;
      bottom: 20px;
      padding: 0 0 0 74px;
      width: 50vw;

      &.mobile {
        display: none;
      }

      @media screen and (max-width: 900px) {
        padding: 0 74px;
        margin-top: 102px;
        width: 100vw;

        &.mobile {
          display: inline-block;
        }

        &:last-of-type {
          margin-bottom: 60px;
          margin-top: 10px;
        }
      }

      @media screen and (max-width: 767px) {
        padding: 0 20px;

        &:last-of-type {
          margin-bottom: 20px;
        }
      }

      .one-vertical {
        margin-top: 8px;
        width: 100%;

        @media screen and (max-width: 900px) {
          padding: 0 0 5px;

          &.desktop-video {
            display: none;
          }
        }
      }

      .two-vertical {
        margin-bottom: 12px;
        width: 100%;

        .one {
          height: 100%;
        }
      }
    }
  }

  &.economics {
    background-image: url('/img/economics-background.jpg');
  }

  &.education {
    background-image: url('/img/education-background.jpg');
  }

  &.global {
    background-image: url('/img/global-background.jpg');
  }

  &.health {
    background-image: url('/img/health-background.jpg');
  }

  &.society {
    background-image: url('/img/society-background.jpg');
  }

  &.gain-more {
    background-color: $navy;

    .landing-text {
      display: inline-block;
      height: auto;
      margin-bottom: 50px;
      margin-top: 150px;
      padding: 0;
      width: 100vw;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        margin-top: 102px;
        padding: 0 20px;
      }

      .slide-title {
      
        @media screen and (max-width: 767px) {
          text-align: left;
        }
      }
    }

    .slide-heading {
      color: $white-90;
      display: inline-block;
      font-size: 30px;
      margin: 0;
      width: 100%;

      @media screen and (max-width: 1024px) {
        font-size: 26px;
      }

      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }

    p {
      color: $white-65;
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 0;
      margin-right: 20px;
      margin-top: 5px;

      @media screen and (max-width: 1024px) {
        font-size: 18px;
        line-height: 28px;
      }

      @media screen and (max-width: 900px) {
        margin-right: 0;
      }

      @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 25px;
      }

      &.small.caption.white {
        line-height: 22px;

        @media screen and (max-width: 900px) {
          font-size: 21px !important;
          padding: 15px !important;
        }

        @media screen and (max-width: 767px) {
          font-size: 15px !important;
          line-height: 15px !important;
          padding: 8px !important;
        }

        &:after {
          content: url('/img/linkout.svg');
          padding-left: 5px;
          vertical-align: middle;
        }

        &.touch:after {
          content: "";
        }
      }
    }

    .thumbnails {
      padding-bottom: 62px;

      @media screen and (max-width: 900px) {
        padding-bottom: 45px;
      }
    }

    .one-vertical {
      -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }

    .two-vertical {

      @media screen and (max-width: 767px) {
        padding: 0 !important;
      }

      &.touch {
        height: 199px !important;

        @media screen and (max-width: 900px) {
          height: 100px !important;
          margin-left: -33px;
        }
      }

      @media screen and (max-width: 900px) {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        margin-top: 20px;
        width: 100% !important;
      }

      &.first .one {
        height: 100%;
      }
    }

    hr {
      background-color: $white-15;
      margin: 0 100px 23px 80px;

      @media screen and (max-width: 900px) {
        margin: 0 80px 30px;
      }

      @media screen and (max-width: 767px) {
        margin: 0 20px 20px;
      }
    }

    .in-touch {
      @include transition(opacity .3s ease-in-out);
      color: $white;
      opacity: .75;
      margin-left: 8px;

      &:hover {
        @include transition(opacity .2s ease-in-out);
        opacity: .9;
      }
    }

    .facebook-icon {
      @include transition(opacity .3s ease-in-out);
      margin: 0 8px 20px 8px;
      opacity: .75;
      width: 10px;

      @media screen and (max-width: 900px) {
        margin: 0 12px 20px 8px;
        width: 13px;
      }

      &:hover {
        @include transition(opacity .2s ease-in-out);
        opacity: .9;
      }
    }

    .twitter-icon {
      @include transition(opacity .3s ease-in-out);
      margin: 0 6px 20px 8px;
      opacity: .65;
      width: 22px;

      @media screen and (max-width: 900px) {
        margin: 0 8px 20px 8px;
        width: 27px;
      }

      &:hover {
        @include transition(opacity .2s ease-in-out);
        opacity: .9;
      }
    }

    .linkedin-icon {
      @include transition(opacity .3s ease-in-out);
      margin: 0 0 20px 8px;
      opacity: .65;
      width: 19px;

      @media screen and (max-width: 900px) {
        width: 24px;
      }

      &:hover {
        @include transition(opacity .2s ease-in-out);
        opacity: .9;
      }
    }

    .credits {
      background-color: $white-5;
      display: flex;
      flex-wrap: wrap;
      padding: 62px 74px 110px;
      width: 100vw;
      justify-content: space-between;

      @media screen and (max-width: 1024px) {
        padding: 62px 74px;
      }

      @media screen and (max-width: 900px) {
        padding: 62px 84px;
      }

      @media screen and (max-width: 767px) {
        margin-top: -20px;
        padding: 40px 20px;
      }

      a {
        color: $white-85;
        text-decoration: underline;

        &:hover {
          color: $white;
        }
      }

      .two {
        width: 48%;

        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }

      .slide-heading {
        font-size: 30px;
        margin-bottom: 10px;
        width: 100%;

        @media screen and (max-width: 767px) {
          color: $white;
          font-size: 22px;
        }
      }

      .column-heading {
        font-size: 21px;
        margin-top: 25px;

        @media screen and (max-width: 767px) {
          color: $white;
          font-size: 19px;
          margin-top: 28px;
        }
      }

      p {
        color: $white-85;
        font-size: 16px;
        line-height: 26px;

        @media screen and (max-width: 1024px) {
          font-size: 14px;
          letter-spacing: .5px;
          line-height: 22px;
        }
      }
    }
  }
}

.area {

  .landing-text {
    @include transition(opacity 1.8s ease-in-out, height .65s ease-in-out);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0 16.5vw;

    @media screen and (min-width: 1600px) {
      padding: 0 20vw;
    }

    @media screen and (max-width: 1300px) {
      padding: 0 13vw;
    }

    @media screen and (max-width: 1100px) {
      padding: 0 10vw;
    }

    @media screen and (max-width: 800px) {
      padding: 0 13vw;
    }

    @media screen and (max-width: 767px) {
      padding: 0 30px;
    }

    .slide-title {
      color: $white;
      display: inline-block;
      font-size: 30px;
      text-align: center;
      width: 100%;

      @media screen and (max-width: 1024px) {
        font-size: 26px;
      }

      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }
  }

  .thumbnails {
    @include transition(all .5s ease-in-out);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 74px 80px;
    width: 100%;

    @media screen and (min-width: 1600px) {
      padding: 0 10vw;
    }

    @media screen and (max-width: 767px) {
      padding: 0 20px;
    }

    .one-vertical {
      -ms-flex-line-pack: justify;
      align-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 4px;
      padding: 7px;
      width: 50%;

      @media screen and (max-width: 900px) {
        margin-bottom: 0;
        height: auto;
        padding: 0 10px 5px;
        width: 100%;
      }

      @media screen and (max-width: 767px) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
      }

      .four {
        overflow: hidden;
        width: 100%;

        @media screen and (max-width: 900px) {
          overflow: visible;
        }

        @media screen and (max-width: 767px) {
          height: auto;
          margin-bottom: 15px;
          width: 100%;
        }

        img {
          width: 100%;
          max-width: none;

          @media screen and (max-width: 767px) {
            height: auto;
            max-width: 100%;
          }
        }

        .large.caption {
          line-height: 28px;
          margin: 8px 0 0;
          padding-right: 10px;
          width: 100%;

          @media screen and (max-width: 1000px) {
            font-size: 18px;
            line-height: 24px;
            margin: 3px 0 0;
          }

          @media screen and (max-width: 900px) {
            font-size: 18px;
            line-height: 25px;
            margin: 0;
            padding: 1px 8px 0 0;
            position: relative;
            width: 100%;
          }

          @media screen and (max-width: 767px) {
            margin: -1px 0 0;
            padding: 0;
          }
        }
      }
    }

    .mobile-tiles {
      display: none;

      @media screen and (max-width: 900px) {
        -ms-flex-line-pack: justify;
        align-content: space-between;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 10px 10px 0;
        width: 100%;

        &.one-vertical {
          padding:  0 10px 5px;
        }

        &.essay-container {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
        }
      }

      @media screen and (max-width: 767px) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        width: 100%;
      }

      .one {
        overflow: hidden;
        width: 50%;

        &.left {
          padding-right: 6px;
        }

        &.right {
          padding-left: 6px;
        }

        &.essay {
          background-position: center;
          background-size: cover;
          height: 25vw;
          margin-bottom: 2%;
          padding: 0 10px;
          width: 49%;

          @media screen and (max-width: 767px) {
            height: 50vw;
            margin-bottom: 4%;
            padding: 0 15px;
            width: 100%;
          }
        }

        img {
          height: auto;
          width: 100%;
        }

        @media screen and (max-width: 767px) {
          height: auto;
          margin-bottom: 15px;
          width: 100%;

          &.left {
            padding-right: 0;
          }

          &.right {
            padding-left: 0;
          }

          img {
            height: auto;
            width: 100%;
          }
        }

        .small.caption {
          font-size: 18px;
          line-height: 25px;
          margin: 0;
          padding: 1px 8px 14px 0;
          position: relative;

          @media screen and (max-width: 767px) {
            margin: -1px 0 0;
            padding: 0;
            width: 100%;
          }
        }
      }
    }

    .two-vertical {
      -ms-flex-line-pack: justify;
      align-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 7px 6px 0;
      width: 50%;

      @media screen and (max-width: 900px) {
        display: none;
      }

      .one {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 48%;
        overflow: hidden;
        width: 49%;

        &.blank {
          background-color: transparent;
        }

        .small.caption {
          font-size: 22px;
          letter-spacing: .75px;
          line-height: 28px;
          margin: 0;
          padding: 12px 14px;

          @media screen and (max-width: 1440px) {
            font-size: 20px;
            letter-spacing: .75px;
            line-height: 25px;
          }

          @media screen and (max-width: 1100px) {
            font-size: 18px;
            letter-spacing: .75px;
            line-height: 23px;
            padding: 6px 12px;
          }

          @media screen and (max-width: 1000px) {
            font-size: 16px;
            line-height: 22px;
            padding: 6px 10px;
          }

          &.white {
            color: $white;
          }

          &.black {
            color: $black;
            font-weight: 400 !important;
            letter-spacing: .25px;
          }
        }
      }
    }
  }

  /* Behaviors when user is scrolling*/
  &.scrolled {
    .landing-text {
      @include transition(opacity 1.5s ease-in-out, height 1s ease-in-out);
      /* opacity: 0;*/
      /* height: 65vh;*/

      &.button-scrolled {
        @include transition(opacity .75s ease-in-out, height .75s ease-in-out);
        /* height: 98px;*/
      }
    }

    .thumbnails {
      @include transition(all 1s ease-in-out);
      opacity: 1;
      
    }
  }
}

.grey-box {
  @include transition(all .7s ease-in-out);
  position: fixed;
  height: 80px;
  background-color: transparent;
  width: 100vw;

  @media screen and (max-width: 767px) {
    background-color: $black !important;
  }

  &.scrolled {
    @include transition(all .6s ease-in-out);
    background-color: $black-90;
    z-index: 1;
  }
}
