.slide.president .landing-text p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 23px;

  @media screen and (max-width:767px) {
    padding-bottom: 0;
  }
}

.slide.president .thumbnails {
  /* IE Edge 12+ CSS styles go here */
  @supports (-ms-accelerator:true) {
    left: 100vw;
  }
  /* IE10+ CSS styles go here */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    left: 100vw;
  }
}

.skip-intro {
  bottom: 51px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 1001;

  @media screen and (max-width:767px) {
    bottom: 30px;
  }

  p {
    color: rgba(255,255,255,.75);
    cursor: pointer;
    display: none;
    font-size: 14px;
    letter-spacing: 2.5px;
    line-height: 14px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;

    @media screen and (max-width:767px) {
      font-size: 12px;
      letter-spacing: 2px;
      line-height: 10px;
    }

    &:hover {
      -webkit-transition: color .3s ease-in-out;
      -o-transition: color .3s ease-in-out;
      transition: color .3s ease-in-out;
      color: #fff;
    }
  }
}

.area .thumbnails .one-vertical {
  margin-bottom: 20px;

  @media screen and (max-width:767px) {
    margin-bottom: 0;
  }
}

.president .area .thumbnails .one-vertical {
  margin-bottom: 0;
}

.one.popup-image {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .small.caption.white {
    padding: 12px 0 0 14px !important; 
  }

  .expand-arrow {
    margin: 12px;
    opacity: .75;
    width: 21px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

    @media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none) {
      margin: 12px 12px 0 0;
      height: 28px;
      width: 38px;
    }
  }

  &:hover {
    .expand-arrow {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }
  }
}


.gas-image-container,
.hamilton-image-container {
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: -100vw;
  position: absolute;
  width: 100vw;
  z-index: 206;

  @media screen and (max-width:767px) {
    display: none;
    top: -2vh;
  }

  .home-popup {
    width: 1000px;

    @media screen and (max-width: 1150px) {
      width: 803px;
    }

    @media screen and (max-width: 900px) {
      width: 679px;
    }

    @media screen and (max-width: 767px) {
      width: 100vw;
    }

    @media screen and (max-width:767px) and (orientation: landscape) {
      margin-top: 132px;
    }
  }

  p {
    color: #000;
    display: none;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 -22px;
    position: absolute;
    text-shadow: none;
    top: 800px;
    width: 1000px;

    @media screen and (max-width: 1150px) {
      width: 803px;
    }

    @media screen and (max-width: 900px) {
      width: 679px;
    }

    @media screen and (max-width: 767px) {
      margin: 0;
      padding: 0 20px;
      width: 100vw;
    }
  }

  &.visible {
    left: 0;

    @media screen and (max-width:767px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      top: -2vh;
    }

    p {
      display: inline-block;
      left: calc((100% - 1000px)/2);

      @media screen and (max-width: 1150px) {
        left: calc((100% - 803px)/2);
      }

      @media screen and (max-width: 900px) {
        left: calc((100% - 679px)/2);
      }

      @media screen and (max-width: 767px) {
        left: 0;
      }
    }
  }

  .special-share {
    -ms-flex-line-pack: start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -280px 0 0 -23px;
    width: 22px;

    @media screen and (max-width: 1150px) {
      margin: -195px 0 0 -23px;
    }

    @media screen and (max-width: 900px) {
      margin: -120px 0 0 -23px;
    }

    @media screen and (max-width: 767px) {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; 
      -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      height: auto !important;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      margin: 10px 5px 0 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }

    a {
      width: 22px;

      @media screen and (max-width: 767px) {
        margin-right: 5px;
        width: 35px;
      }
    }

    .facebook,
    .twitter,
    .linkedin {
      -webkit-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      margin: 10px 0;
      opacity: .65;
      padding: 0;
      width: 22px;

      @media screen and (max-width: 767px) {
        margin: 17px 0;
      }

      &:hover {
        -webkit-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
      }
    }

    .facebook {
      padding: 0 4px;

      @media screen and (max-width: 767px) {
        padding: 0 5px;
      }
    }

    .linkedin {
      padding: 0 1px;
    }
  }

  .home-close {
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    cursor: pointer;
    opacity: .65;
    margin: 0 0 0 23px;

    @media screen and (max-width:767px) {
      display: none;
    }

    &:hover {
      -webkit-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      opacity: 1;
    }
  }

  .close-arrow {
    display: none;

    @media screen and (max-width:767px) {
      display: inline-block;
      border: solid rgba(0,0,0,.55);
      border-width: 0 2px 2px 0;
      height: 0;
      left: 0;
      margin: 18px 0 0 20px;
      padding: 8px;
      position: absolute;
      top: 12px;
      -webkit-transform: rotate(135deg) skew(-2deg, -2deg);
      -ms-transform: rotate(135deg) skew(-2deg, -2deg);
      transform: rotate(135deg) skew(-2deg, -2deg);
      width: 0;

    }
  }
}

.section, .slide {
  -webkit-transform: translate3d(0,0,0);
}
