.story-page {

  .header-logo {
    width: 164px;

    @media screen and (max-width: 767px) {
      width: 140px;
    }
  }

  p {
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 16px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 14px;
    }
  }

  .body-list {
    color: $text-grey;
    font-size: 21px;
    line-height: 32px;
    margin: 0 0 20px;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      line-height: 28px;
      margin: 0 0 16px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 26px;
      margin: 0 0 14px;
    }

    li {
      margin-bottom: 16px;
    } 
  }

  .data {
    color: $black;
    font-size: 18px;
    line-height: 26px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (max-width: 767px) {
      font-size: 15px;
      line-height: 21px;
    }
  }
  /* Global Development Stories*/
  &_global {
    background-color: $purple-background;

    .header-background {
      background-color: $purple-background;
    }

    .sub-nav {
      background-color: $purple-subhead;

      .story-item {
        width: 25vw;

        &:hover {
          background-color: $purple-hover;
          color: $purple;
        }

        &.active {
          background-color: $purple-hover;
          color: $purple;
        }
      }
    }

    h1 {
      color: $purple;
    }

    .page-overlay {
      background-color: $purple-background;
      opacity: .91;
    }
  }

  /* Health & Well-Being Stories*/
  &_health {
    background-color: $teal-background;

    .header-background {
      background-color: $teal-background;
    }

    .sub-nav {
      background-color: $teal-subhead;

      .story-item {
        width: 25vw;

        &:hover {
          background-color: $teal-hover;
          color: $teal;
        }

        &.active {
          background-color: $teal-hover;
          color: $teal;
        }
      }
    }

    h1 {
      color: $teal;
    }

    .page-overlay {
      background-color: $teal-background;
      opacity: .91;
    }
  }

  /* Society, Media, and Public Affairs Stories*/
  &_society {
    background-color: $pink-background;

    .header-background {
      background-color: $pink-background;
    }

    .sub-nav {
      background-color: $pink-subhead;

      .story-item {
        width: 25vw;

        &:hover {
          background-color: $pink-hover;
          color: $pink;
        }

        &.active {
          background-color: $pink-hover;
          color: $pink;
        }
      }
    }

    h1 {
      color: $pink;
    }

    .page-overlay {
      background-color: $pink-background;
      opacity: .91;
    }
  }

  /* Society, Media, and Public Affairs Stories*/
  &_economics {
    background-color: $green-background;

    .header-background {
      background-color: $green-background;
    }

    .sub-nav {
      background-color: $green-subhead;

      .story-item {
        width: 25vw;

        &:hover {
          background-color: $green-hover;
          color: $green;
        }

        &.active {
          background-color: $green-hover;
          color: $green;
        }
      }
    }

    h1 {
      color: $green;
    }

    .page-overlay {
      background-color: $pink-background;
      opacity: .91;
    }
  }

  .image-container {
    @include transition(left .3s ease-in-out);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 206;
    

    img {
      max-height: 100%;
    }

    &.move-out {
      @include transition(left .35s ease-in-out);
      height: 100vh;
      padding: 80px 130px 80px 175px;
      top: 0;
      width: 100vw;
      

      @media screen and (min-width: 1441px) {
        padding: 100px 160px 100px 205px;
      }

      @media screen and (max-width: 1210px) {
        padding: 80px 100px 80px 145px;
      }

      @media screen and (max-width: 1024px) {
        padding: 100px 50px 100px 95px;
      }

      @media screen and (max-width: 900px) {
        padding: 60px 30px 60px 65px;

        .main-image {
          max-width: 98%;
        }
      }

      @media screen and (max-width: 767px) {
        padding: 60px 30px;
      }
    }

    &.move-in {
      @include transition(left .55s ease-in-out);
      height: 100vh;
      left: 0 !important;
      padding: 80px 130px 80px 175px;
      top: 0;
      width: 100vw;
      

      @media screen and (min-width: 1441px) {
        padding: 100px 160px 100px 205px;
      }

      @media screen and (max-width: 1210px) {
        padding: 80px 100px 80px 145px;
      }

      @media screen and (max-width: 1024px) {
        padding: 100px 50px 100px 95px;
      }

      @media screen and (max-width: 900px) {
        padding: 60px 30px 60px 65px;

        .main-image {
          max-width: 98%;
        }
      }

      @media screen and (max-width: 767px) {
        padding: 60px 30px;
      }
    }

    .caption {
      color: $black-55;
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 0;
      position: absolute;
      width: 100vw;

      @media screen and (max-width: 767px) {

      }
    }

    .close-button {
      @include transition(opacity .3s ease-in-out);
      -ms-flex-item-align: start;
      align-self: flex-start;
      cursor: pointer;
      opacity: .55;
      margin: 0 0 0 23px;
      

      @media screen and (max-width: 900px) {
        margin: 0 0 0 13px;
      }

      &:hover {
        @include transition(opacity .3s ease-in-out);
        opacity: 1;
      }
    }
  }

  .video-container {
    display: none;
    height: 563px;
    width: 1000px;

    @media screen and (max-width: 1150px) {
      height: 464px;
      width: 825px;
    }

    @media screen and (max-width: 900px) {
      height: 381px;
      width: 678px;
    }
  }
}
