.story-page {

  p {
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 16px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 14px;
    }
  }

  .body-list {
    color: $text-grey;
    font-size: 21px;
    line-height: 32px;
    margin: 0 0 20px;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      line-height: 28px;
      margin: 0 0 16px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 26px;
      margin: 0 0 14px;
    }

    li {
      margin-bottom: 16px;
    } 
  }

  .data {
    color: $black;
    font-size: 18px;
    line-height: 26px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (max-width: 767px) {
      font-size: 15px;
      line-height: 21px;
    }
  }

  .percent {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 30px;

    @media screen and (max-width:900px) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 10px 15px 5px;
    }

    @media screen and (max-width:767px) {
      padding: 15px 0 0;
    }

    .number {

      img {
        height: 105px;
        width: auto;
      }
    }

    &.comma {
      padding: 10px 15px;
      
      @media screen and (max-width:900px) {
        padding: 10px 15px 5px;
      }

      @media screen and (max-width:767px) {
        padding: 15px 0 0;
      }

      img {
        height: 115px;
      }
    }

    .text {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: .25px;
      line-height: 20px;
      padding-left: 24px;
      width: 60%;

      @media screen and (max-width:900px) {
        padding-left: 0;
        padding-top: 12px;
        text-align: left;
        width: 90%;
      }

      @media screen and (max-width:767px) {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
      }
    }
  }

  .pull-quote {
    color: $green;
    font-size: 26px;
    font-weight: 300;
    line-height: 38px;
    padding: 10px 60px;

    @media screen and (max-width:1200px) {
      font-size: 24px;
      line-height: 36px;
      padding: 10px 50px;
    }

    @media screen and (max-width:1024px) {
      font-size: 22px;
      line-height: 32px;
      padding: 10px 35px;
    }

    @media screen and (max-width:900px) {
      font-size: 18px;
      line-height: 28px;
      padding: 10px 24px;
    }

    &:before {
      background: url(/img/pre-quote.svg) no-repeat;
      background-position: top;
      background-size: 28px;
      bottom: 3px;
      content: "";
      margin-left: -45px;
      padding-right: 45px;
      position: relative;

      @media screen and (max-width:1024px) {
        background-size: 24px;
        margin-left: -39px;
        padding-right: 39px;
      }

      @media screen and (max-width:900px) {
        background-size: 20px;
        margin-left: -30px;
        padding-right: 30px;
      }
    }

    &:after {
      background: url(/img/post-quote.svg) no-repeat;
      background-position: top;
      background-size: 28px;
      bottom: 3px;
      content: "";
      padding-left: 39px;
      position: relative;

      @media screen and (max-width:1024px) {
        background-size: 24px;
        padding-left: 31px;
      }

      @media screen and (max-width:1024px) {
        background-size: 20px;
        padding-left: 27px;
      }
    }
  }

  /* Global Development Stories*/
  &_global {
    background-color: $purple-background;

    .header-background {
      background-color: $purple-background;
    }

    .sub-nav {
      background-color: $purple-subhead;

      .story-item {
        width: 25vw;

        &:hover {
          background-color: $purple-hover;
          color: $purple;
        }

        &.active {
          background-color: $purple-hover;
          color: $purple;
        }
      }
    }

    h1,
    .text {
      color: $purple;
    }

    .page-overlay {
      background-color: $purple-background;
      opacity: .91;

      @media screen and (max-width: 767px) {
        opacity: .97;
      }
    }
  }

  /* Health & Well-Being Stories*/
  &_health {
    background-color: $teal-background;

    .header-background {
      background-color: $teal-background;
    }

    .sub-nav {
      background-color: $teal-subhead;

      .story-item {
        width: 25vw;

        &:hover {
          background-color: $teal-hover;
          color: $teal;
        }

        &.active {
          background-color: $teal-hover;
          color: $teal;
        }
      }
    }

    h1,
    .text {
      color: $teal;
    }

    .page-overlay {
      background-color: $teal-background;
      opacity: .91;

      @media screen and (max-width: 767px) {
        opacity: .97;
      }
    }
  }

  /* Education Stories*/
  &_education {
    background-color: $maroon-background;

    .header-background {
      background-color: $maroon-background;
    }

    .sub-nav {
      background-color: $maroon-subhead;

      .story-item {
        width: 33.3333vw;

        &:hover {
          background-color: $maroon-hover;
          color: $maroon;
        }

        &.active {
          background-color: $maroon-hover;
          color: $maroon;
        }
      }
    }

    h1,
    .text {
      color: $maroon;
    }

    .page-overlay {
      background-color: $maroon-background;
      opacity: .91;

      @media screen and (max-width: 767px) {
        opacity: .97;
      }
    }
  }

  /* Society, Media, and Public Affairs Stories*/
  &_society {
    background-color: $pink-background;

    .header-background {
      background-color: $pink-background;
    }

    .sub-nav {
      background-color: $pink-subhead;

      .story-item {
        width: 25vw;

        &:hover {
          background-color: $pink-hover;
          color: $pink;
        }

        &.active {
          background-color: $pink-hover;
          color: $pink;
        }
      }
    }

    h1,
    .text {
      color: $pink;
    }

    .page-overlay {
      background-color: $pink-background;
      opacity: .91;

      @media screen and (max-width: 767px) {
        opacity: .97;
      }
    }
  }

  /* Society, Media, and Public Affairs Stories*/
  &_economics {
    background-color: $green-background;

    .header-background {
      background-color: $green-background;
    }

    .sub-nav {
      background-color: $green-subhead;

      .story-item {
        width: 25vw;

        &:hover {
          background-color: $green-hover;
          color: $green;
        }

        &.active {
          background-color: $green-hover;
          color: $green;
        }
      }
    }

    h1,
    .text {
      color: $green;
    }

    .page-overlay {
      background-color: $pink-background;
      opacity: .91;

      @media screen and (max-width: 767px) {
        opacity: .97;
      }
    }
  }

  .image-container {
    @include transition(left .3s ease-in-out);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 206;

    @media screen and (max-width: 767px) {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    
    img {
      max-height: 100%;
    }

    &.move-out {
      @include transition(left .35s ease-in-out);
      height: 100vh;
      padding: 80px 130px 80px 175px;
      top: 0;
      width: 100vw;
      

      @media screen and (min-width: 1441px) {
        padding: 100px 160px 100px 205px;
      }

      @media screen and (max-width: 1210px) {
        padding: 80px 100px 80px 145px;
      }

      @media screen and (max-width: 1024px) {
        padding: 100px 50px 100px 95px;
      }

      @media screen and (max-width: 900px) {
        padding: 60px 30px 60px 65px;

        .main-image {
          max-width: 98%;
        }
      }

      @media screen and (max-width: 767px) {
        @include transition(left .35s ease-in-out);
        height: auto;
        padding: 0;
        top: initial;

        .main-image {
          max-width: 100vw;
        }
      }
    }

    &.move-in {
      @include transition(left .55s ease-in-out);
      height: 100vh;
      left: 0 !important;
      padding: 80px 130px 80px 175px;
      top: 0;
      width: 100vw;
      

      @media screen and (min-width: 1441px) {
        padding: 100px 160px 100px 205px;
      }

      @media screen and (max-width: 1210px) {
        padding: 80px 100px 80px 145px;
      }

      @media screen and (max-width: 1024px) {
        padding: 100px 50px 100px 95px;
      }

      @media screen and (max-width: 900px) {
        padding: 60px 30px 60px 65px;

        .main-image {
          max-width: 98%;
        }
      }

      @media screen and (max-width: 767px) {
        @include transition(left .35s ease-in-out);
        height: auto;
        padding: 0;
        top: initial;

        .main-image {
          max-width: 100vw;
        }
      }
    }

    .caption {
      color: $black-55;
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 0;
      position: absolute;
      width: 100vw;

      @media screen and (max-width: 767px) {
        margin-top: 12px;
        padding: 0 20px;
        position: initial;
      }
    }

    .close-button {
      @include transition(opacity .3s ease-in-out);
      -ms-flex-item-align: start;
      align-self: flex-start;
      cursor: pointer;
      opacity: .55;
      margin: 0 0 0 23px;

      @media screen and (max-width: 900px) {
        margin: 0 0 0 13px;
      }

      @media screen and (max-width:767px) {
        margin: 18px;
        opacity: .75;
      }

      &:hover {
        @include transition(opacity .3s ease-in-out);
        opacity: 1;
      }
    }
  }

  .video-container {
    display: none;
    height: 90vh;
  }
}
