.story-page {

  .header-logo {
    width: 164px;

    @media screen and (max-width: 767px) {
      width: 140px;
    }
  }

  p {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 16px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 14px;
    }
  }

  .data {
    color: $black;
    font-size: 18px;
    line-height: 26px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (max-width: 767px) {
      font-size: 15px;
      line-height: 21px;
    }
  }

  &_global {
    background-color: $purple-background;

    .header-background {
      background-color: $purple-background;
    }

    .sub-nav {
      background-color: $purple-subhead;

      .story-item {
        width: 25vw;

        &:hover {
          background-color: $purple-hover;
          color: $purple;
        }

        &.active {
          background-color: $purple-hover;
          color: $purple;
        }
      }
    }

    h1 {
      color: $purple;
    }

    .page-overlay {
      background-color: $purple-background;
    }
  }

  .image-container {
    @include transition(left .3s ease-in-out);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 106;
    

    img {
      display: none;
      max-height: 100%;
    }

    &.move-out {
      @include transition(left .35s ease-in-out);
      height: 100vh;
      padding: 80px 130px 80px 175px;
      top: 0;
      width: 100vw;
      

      @media screen and (min-width: 1441px) {
        padding: 100px 160px 100px 205px;
      }

      @media screen and (max-width: 1210px) {
        padding: 80px 100px 80px 145px;
      }

      @media screen and (max-width: 1024px) {
        padding: 100px 50px 100px 95px;
      }

      @media screen and (max-width: 900px) {
        padding: 60px 30px 60px 65px;

        .main-image {
          max-width: 98%;
        }
      }

      @media screen and (max-width: 767px) {
        padding: 60px 30px;
      }
    }

    &.move-in {
      @include transition(left .55s ease-in-out);
      height: 100vh;
      left: 0 !important;
      padding: 80px 130px 80px 175px;
      top: 0;
      width: 100vw;
      

      @media screen and (min-width: 1441px) {
        padding: 100px 160px 100px 205px;
      }

      @media screen and (max-width: 1210px) {
        padding: 80px 100px 80px 145px;
      }

      @media screen and (max-width: 1024px) {
        padding: 100px 50px 100px 95px;
      }

      @media screen and (max-width: 900px) {
        padding: 60px 30px 60px 65px;

        .main-image {
          max-width: 98%;
        }
      }

      @media screen and (max-width: 767px) {
        padding: 60px 30px;
      }
    }

    .caption {
      color: $black-55;
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 0;
      position: absolute;
      width: 100vw;

      @media screen and (max-width: 767px) {

      }
    }

    .close-button {
      @include transition(opacity .3s ease-in-out);
      -ms-flex-item-align: start;
      align-self: flex-start;
      cursor: pointer;
      opacity: .55;
      margin: 0 0 0 23px;
      

      @media screen and (max-width: 900px) {
        margin: 0 0 0 13px;
      }

      &:hover {
        @include transition(opacity .3s ease-in-out);
        opacity: 1;
        
      }
    }
  }
}
