body.intro {
  background-color: $navy;
}

.entry-screen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;

  @media screen and (max-width: 900px) {
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 25px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 9px;
  }

  .typed-first, .typed-second {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .typed-first {
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;

    @media screen and (max-width: 900px) {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
  }

  .ti-cursor {
    color: $white !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    font-size: 77px !important;
    font-weight: 400 !important;
    line-height: 66px !important;
    z-index: 2000 !important;

    @media screen and (max-width: 1024px) {
      font-size: 60px !important;
      line-height: 54px !important;
    }

    @media screen and (max-width: 900px) {
      font-size: 44px !important;
      line-height: 10px !important;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      display: none !important;  /* Remove this to work on mobile cursor*/
    }
  }

  .text-overlay {
    height: 100%;
    left: 410px;
    position: absolute;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    width: 705px;
    z-index: 1000;

    @media screen and (max-width: 1320px) {
      left: 377px;
    }

    @media screen and (max-width: 1200px) {
      left: 306px;
    }

    @media screen and (max-width: 1024px) {
      left: 271px;
      width: 554px;
    }

    @media screen and (max-width: 900px) {
      height: auto;
      left: 0;
      margin-top: 374px;
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      margin-top: 49vh;
    }
  }
}

.intro {
  background-color: $navy;
  margin-top: 40vh;

  @media screen and (max-width: 1024px) {
    margin-top: 43vh;
  }

  @media screen and (max-width: 900px) {
    margin-top: 300px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 40vh;
  }

  &-left {
    color: $orange;
    width: 410px;

    @media screen and (max-width: 1320px) {
      width: 377px;
    }

    @media screen and (max-width: 1200px) {
      width: 306px;
    }

    @media screen and (max-width: 1024px) {
      width: 271px;
    }

    @media screen and (max-width: 900px) {
      width: $full-width;
    }

    h3 {
      font-size: 77px;
      font-weight: 400;
      line-height: 86px;
      margin: 0 0 0 55px;

      @media screen and (max-width: 1320px) {
        font-size: 70px;
      }

      @media screen and (max-width: 1200px) {
        font-size: 62px;
        margin-left: 21px;
      }

      @media screen and (max-width: 1024px) {
        font-size: 54px;
        line-height: 68px;
      }

      @media screen and (max-width: 900px) {
        font-size: 60px;
        margin-left: 31px;
      }

      @media screen and (max-width: 767px) {
        font-size: 44px;
        line-height: 50px;
        margin-left: 3px;
      }
    }
  }

  &-right {
    color: $white;
    padding-left: 14px;
    width: auto;

    @media screen and (max-width: 1024px) {
      padding-left: 12px;
    }

    @media screen and (max-width: 900px) {
      margin-top: 19px;
      padding-left: 32px;
      width: $full-width;
    }

    @media screen and (max-width: 767px) {
      padding-left: 5px;
    }

    h3 {
      font-size: 77px;
      font-weight: 400;
      line-height: 86px;
      margin: 0;

      @media screen and (max-width: 1320px) {
        font-size: 70px;
      }

      @media screen and (max-width: 1200px) {
        font-size: 62px;
      }

      @media screen and (max-width: 1024px) {
        font-size: 54px;
        line-height: 68px;
      }

      @media screen and (max-width: 900px) {
        font-size: 60px;
        margin-left: 0;
        margin-top: -10px;
        text-align: left;
      }

      @media screen and (max-width: 767px) {
        font-size: 44px;
        line-height: 54px;
        margin-top: -12px;
      }
    }
  }
}
