/*Global Chart Styles*/
.video-container.chart-scroll {
  overflow: scroll;
}

.heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .chart-title {
    color: $white;
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 0;
    width: 48%;
  }

  .chart-body {
    color: $dark-grey;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    width: 48%;
  }
}

// Bubble Chart 
#bubbleContainer {
  background-color: #6e6e6e;
  padding: 30px;

  #bubbleChart {
    margin-top: -160px;
    text-align: center;
  }

  input[type="radio"] {
    display: none;
  }

  .btn-group {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 5%;
    width: 100%;

    .btn {
      @include transition(all .2s ease-in-out);
      border: 2px solid $dark-grey;
      border-radius: 14px;
      color: $black;
      cursor: pointer;
      font-size: 14px;
      margin: 5px;
      padding: 7px 14px;
      text-align: center;

      &.active {
        @include transition(all .2s ease-in-out);
        background-color: $white-65 !important;
      }

      &:hover {
        background-color: $white-35;
      }
    }
  }
}
    
circle {
  fill: red;
  opacity: .85;
  stroke-width: 1px;
  stroke: $dark-grey;
}

.label {
  fill: white;
  font-size: 25px;
  font-weight: 300;
}

.Dem {
  fill: #0157ae;
}

.Rep {
  fill: #d42729;
}

.Ind {
  fill: $white;
}
