//Global Chart Styles
.video-container.chart-scroll {
  overflow: scroll;
}

.heading-box {
  display: flex;
  justify-content: space-between;

  .chart-title {
    color: $white;
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 0;
    width: 48%;
  }

  .chart-body {
    color: #303030;
    font-size: 16px;
    line-height: 20px;
    width: 48%;
    margin-top: 0;
  }
}

// .popover {
//   z-index: 10000;
// }

//Bubble Chart
#bubbleContainer {
  background-color: #6e6e6e;
  padding: 30px 30px 8px;

  #bubbleChart {
    text-align: center;
    margin-top: -160px;
  }

  input[type="radio"] {
    display: none;
  }

  .btn-group {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 5%;

    .btn {
      @include transition(all .2s ease-in-out);
      cursor: pointer;
      font-size: 14px;
      color: $black;
      border: 2px solid #303030;
      border-radius: 14px;
      padding: 7px 14px;
      margin: 5px;
      text-align: center;

      &.active {
        @include transition(all .2s ease-in-out);
        background-color: $white-65 !important;
      }

      &:hover {
        background-color: $white-35;
      }
    }
  }
}
    
circle {
  fill:red;
  stroke: #303030;
  stroke-width: 1px;
  opacity: .85;
}
 
// circle:hover {
//   stroke: #F7DC6F;
// }

/*yes/no labels*/
.label {
  fill: white;
  font-size: 25px;
  font-weight: 300;
}

.Dem {
  fill: #0157ae;
}

.Rep {
  fill: #d42729;
}

.Ind {
  fill: $white;
}
