/*Story Pages*/
.story-content {
  margin-top: 114px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  @include transition(margin .3s ease-in-out);

  @media screen and (max-width: 767px) {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.left-50 {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  left: 0;
  position: absolute;

  @media screen and (max-width: 767px) {
    width: 1000vw;
  }

  .picture {
    @include transition(all .3s ease-in-out);
    img {
      height: 100%;
      width: 50vw;
      @include transition(all .3s ease-in-out);
    }

    &:before {
      content: url('/img/zoom.svg');
      height: 27px;
      left: 92.5%;
      margin-top: 15px;
      opacity: .8;
      position: absolute;
      width: 26px;
      @include transition(opacity .3s ease-in-out, left .3s ease-in-out);

      @media screen and (max-width: 1024px) {
        left: 90%;
      }
    }

    &:hover{
      cursor: pointer;

      &:before {
        opacity: 1;
        @include transition(opacity .4s ease-in-out);
      }
    }
  }

  .video {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url('/img/cuba-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 27vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50vw;
    @include transition(height .3s ease-in-out);

    @media screen and (max-width: 1000px) {
      height: 30vw;
    }

    img {
      height: 125px;
      opacity: .8;
      @include transition(opacity .3s ease-in-out, height .3s ease-in-out);

      @media screen and (min-width: 1441px) {
        height: 150px;
      }

      @media screen and (max-width: 1000px) {
        height: 115px;
      }
    }

    &:hover {
      cursor: pointer;

      img {
        opacity: 1;
        @include transition(opacity .4s ease-in-out);
      }
    }
  }
}

.right-50 {
  padding: 34px 48px;
  position: absolute;
  right: 0;
  width: 50%;
  @include transition(padding .3s ease-in-out);

  @media screen and (max-width: 1024px) {
    padding: 30px;
  }

  @media screen and (max-width: 767px) {
    padding: 20px;
    width: 100vw;
  }
}
