/*Story Pages*/
.story-content {
  @include transition(margin .3s ease-in-out);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 114px;

  @media screen and (max-width: 767px) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.left-50 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: 0;
  position: absolute;

  img {
    height: 100%;
    width: 50vw;
  }

  .picture, .chart {
    img {
      height: 100%;
      width: 50vw;
    }

    &:before {
      @include transition(opacity .3s ease-in-out, left .3s ease-in-out);
      content: url('/img/zoom.svg');
      left: 93.5%;
      margin-top: 15px;
      opacity: .55;
      position: absolute;
      width: 24px;

      @media screen and (max-width: 1024px) {
        left: 91%;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &:hover{
      cursor: pointer;

      &:before {
        @include transition(opacity .4s ease-in-out);
        opacity: 1;
      }
    }
  }

  .video {
    @include transition(height .3s ease-in-out);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 27vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50vw;
    
    &.aging {
      background-image: url('/img/video-placeholder.jpg');
    }

    @media screen and (max-width: 1000px) {
      height: 30vw;
    }

    img {
      @include transition(opacity .3s ease-in-out, height .3s ease-in-out);
      height: 150px;
      opacity: .65;
      
      @media screen and (min-width: 1441px) {
        height: 150px;
      }

      @media screen and (max-width: 1000px) {
        height: 115px;
      }
    }

    &:hover {
      cursor: pointer;

      img {
        @include transition(opacity .4s ease-in-out);
        opacity: .95;
      }
    }
  }
}

.right-50 {
  @include transition(padding .3s ease-in-out);
  padding: 34px 30px 34px 36px;
  position: absolute;
  right: 0;
  width: 50%;
  

  @media screen and (max-width: 1024px) {
    padding: 30px;
  }

  @media screen and (max-width: 767px) {
    padding: 10px 20px 20px;
    position: relative;
    width: 100vw;
  }
}
