/* Make sure embeds and iframes fit their containers.*/
embed,
iframe,
object {
  @include transition(all .3s ease-in-out);
  max-width: 100%;
  
}

.page-overlay {
  display: none;
  height: 100vh;
  opacity: .91;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 201;
}

.white-page-overlay {
  background-color: $white;
  display: none;
  height: 100vh;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 105;
}

.no-scroll {
  overflow: hidden;
}

iframe {
  @include transition(none);
  max-width: none;
}
