$color__background-body: #000;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// NORC colors

$navy: #151336;
$orange: #e87424;
$putty: #a9a09a;

// Global Development colors
$purple-subhead: #e1dae1;
$purple-background: #e8e2e8;
$purple-hover: rgba(97, 49, 100, .16);
$purple: #613064;

$text-grey: rgba(0, 0, 0, .43);

$white-85: rgba(255, 255, 255, .85);
$white-50: rgba(255, 255, 255, .5);
$black-50: rgba(0, 0, 0, .3);
$black-55: rgba(0, 0, 0, .55);
$black-41: rgba(0, 0, 0, .41);
$black-12: rgba(0, 0, 0, .12);

$white: #fff;
$black: #000;

