$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// NORC colors

$navy: #151336;
$orange: #e97200;
$putty: #a79b94;

// Global Development Colors
$purple-subhead: #e1dae1;
$purple-background: #e8e2e8;
$purple-hover: rgba(97, 49, 100, .16);
$purple-mobile: #C8ADCA;
$purple: #6D3670;

// Health & Well-Being Colors
$teal-subhead: #dde7eb;
$teal-background: #e8eff2;
$teal-hover: rgba(25, 92, 125, .14);
$teal-mobile: #A8C8D4;
$teal: #5a7f94;

// Society, Media and Public Affairs Colors
$pink-subhead: #e8edf0;
$pink-background: #f2f5f6;
$pink-hover: rgba(91, 127, 149, .14);
$pink-mobile: #ED8A7F;
$pink: #F27E71;

// Economics, Markets, and the Workforce Colors
$green-subhead: #dde6df;
$green-background: #ecf0ed;
$green-hover: rgba(111, 163, 136, .20);
$green-mobile: #B7D5C3;
$green: #6fa387;

// Education, Training and Learning Colors
$maroon-subhead: #EFE3E4;
$maroon-background: #f5eeef;
$maroon-hover: rgba(158, 82, 93, .11);
$maroon-mobile: #C07A84;
$maroon: #9e525d;

$text-grey: rgba(0, 0, 0, .43);
$mobile-menu-grey: rgba(0, 0, 0, .60);
$mobile-text-grey: rgba(0, 0, 0, .66);
$dot-grey: #989a9d;
$dark-grey: #303030;

$white-90: rgba(255, 255, 255, .90);
$white-85: rgba(255, 255, 255, .85);
$white-75: rgba(255, 255, 255, .75);
$white-70: rgba(255, 255, 255, .7);
$white-65: rgba(255, 255, 255, .65);
$white-50: rgba(255, 255, 255, .5);
$white-35: rgba(255, 255, 255, .35);
$white-15: rgba(255, 255, 255, .15);
$white-5: rgba(255, 255, 255, .05);
$black-90: rgba(0, 0, 0, .85);
$black-70: rgba(0, 0, 0, .70);
$black-50: rgba(0, 0, 0, .3);
$black-55: rgba(0, 0, 0, .55);
$black-41: rgba(0, 0, 0, .41);
$black-32: rgba(0, 0, 0, .32);
$black-12: rgba(0, 0, 0, .12);
$black-8: rgba(0, 0, 0, .08);
$black-3: rgba(0, 0, 0, .03);

$white: #fff;
$black: #000;

