// Styles for Dot Navigation

.dot-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  svg {
    height: 16px;
    margin: 25px 0 0;
    padding: 0 3.5px;
  }

  .section-title {
    display: none;
    font-size: 19px;
    font-weight: 400;
    margin: 6px 0 5px;
    text-align: center;
    width: 100vw;

    &.current {
      display: block;

      @media screen and (max-width: 767px) {
        margin: 65px 0 5px;
      }
    }
  }
}

.nav-dot {
  cursor: pointer;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .inner {
    @include transition(fill .2s ease-in-out);
    fill: transparent;
  }

  .outer {
    @include transition(fill .2s ease-in-out);
    fill: transparent;
    stroke-miterlimit: 10;
  }

  &:hover {

    .inner {
      @include transition(fill .3s ease-in-out);
    }

    .outer {
      @include transition(fill .3s ease-in-out);
    }
  }

  &.active {

    .outer {
      fill: transparent;
    }
  }
}

.main {

  .section-title {
    @include transition(color .2s ease-in-out);
    color: $white-85;
  }
  
  .nav-dot {

    .outer {
      stroke: $white-70;
    }

    &:hover {

      .inner {
        fill: $white-85;
      }

      .outer {
        fill: $white-35;
      }
    }
  }

  .nav-dot.active {
    .inner {
      fill: $white;
    }

    .outer {
      stroke: $white;

      &:hover {
        fill: transparent;
      }
    }
  }

  &.fp-viewing-ar-insight {
    .section-title.insight {
      display: block;
    }

    .insight-dot {
      .inner {
        fill: $white;
      }

      .outer {
        stroke: $white;

        &:hover {
          fill: transparent;
        }
      }
    }
  }

  &.fp-viewing-ar-president {
    .section-title.president {
      display: block;
    }

    .president-dot {
      .inner {
        fill: $white;
      }

      .outer {
        stroke: $white;

        &:hover {
          fill: transparent;
        }
      }
    }
  }

  &.fp-viewing-ar-economics {
    .section-title.economics {
      display: block;
    }

    .economics-dot {
      .inner {
        fill: $white;
      }

      .outer {
        stroke: $white;

        &:hover {
          fill: transparent;
        }
      }
    }
  }

  &.fp-viewing-ar-education {
    .section-title.education {
      display: block;
    }

    .education-dot {
      .inner {
        fill: $white;
      }

      .outer {
        stroke: $white;

        &:hover {
          fill: transparent;
        }
      }
    }
  }

  &.fp-viewing-ar-global {
    .section-title.global {
      display: block;
    }

    .global-dot {
      .inner {
        fill: $white;
      }

      .outer {
        stroke: $white;

        &:hover {
          fill: transparent;
        }
      }
    }
  }

  &.fp-viewing-ar-health {
    .section-title.health {
      display: block;
    }

    .health-dot {
      .inner {
        fill: $white;
      }

      .outer {
        stroke: $white;

        &:hover {
          fill: transparent;
        }
      }
    }
  }

  &.fp-viewing-ar-society {
    .section-title.society {
      display: block;
    }

    .society-dot {
      .inner {
        fill: $white;
      }

      .outer {
        stroke: $white;

        &:hover {
          fill: transparent;
        }
      }
    }
  }

  &.fp-viewing-ar-leadership {
    .section-title.leadership {
      display: block;
    }

    .leadership-dot {
      .inner {
        fill: $white;
      }

      .outer {
        stroke: $white;

        &:hover {
          fill: transparent;
        }
      }
    }
  }

  &.fp-viewing-ar-gain-more {
    .section-title.gain-more {
      display: block;
    }

    .more-dot {
      .inner {
        fill: $white;
      }

      .outer {
        stroke: $white;

        &:hover {
          fill: transparent;
        }
      }
    }
  }
}

// Nav Dots on Story Pages
.story-page {
  .nav-dot {

    .outer {
      stroke: $dot-grey;
    }

    &:hover {

      .inner {
        fill: $dot-grey;
      }

      .outer {
        fill: rgba(0,0,0,.075);
      }
    }

    &.active .outer {
      stroke: $dot-grey;

      &:hover {
        fill: transparent;
      }
    }
  }

  // Global
  .nav-dot.global-dot.active .inner {
    fill: $purple;
  }

  &.story-page_global .dot-nav h3 a {
    color: $purple;
  }

  // Health
  .nav-dot.health-dot.active .inner {
    fill: $teal;
  }

  &.story-page_health .dot-nav h3 a {
    color: $teal;
  }

  // Society
  .nav-dot.society-dot.active .inner {
    fill: $pink;
  }

  &.story-page_society .dot-nav h3 a {
    color: $pink;
  }

  // Education
  .nav-dot.education-dot.active .inner {
    fill: $maroon;
  }

  &.story-page_education .dot-nav h3 a {
    color: $maroon;
  }

  // Economics
  .nav-dot.economics-dot.active .inner {
    fill: $green;
  }

  &.story-page_economics .dot-nav h3 a {
    color: $green;
  }
}
