/* Styles for Dot Navigation*/

.dot-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  svg {
    height: 16px;
    margin: 25px 0 0;
    padding: 0 3.5px;
    width: 22px;
  }

  .section-title {
    display: none;
    font-size: 19px;
    font-weight: 400;
    margin: 3px 0 5px;
    text-align: center;
    width: 100vw;

    &.current {
      display: block;

      @media screen and (max-width: 767px) {
        font-size: 15px;
        margin: 58px 0 5px;
        padding: 8px 0 0;
      }
    }
  }
}

.nav-dot {
  cursor: pointer;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .inner {
    @include transition(fill .2s ease-in-out);
    fill: transparent;
  }

  .outer {
    @include transition(fill .2s ease-in-out);
    fill: transparent;
    stroke-miterlimit: 10;
  }

  &:hover {

    .inner {
      @include transition(fill .3s ease-in-out);
    }

    .outer {
      @include transition(fill .3s ease-in-out);
    }
  }

  &.active {

    .outer {
      fill: transparent;
    }
  }
}

.main {

  .section-title {
    @include transition(color .2s ease-in-out);
    color: $white-85;
  }
  
  .nav-dot {

    .outer {
      stroke: $white-70;
    }

    &:hover {

      .inner {
        fill: $white-85;
      }

      .outer {
        fill: $white-35;
      }
    }
  }

  .nav-dot.active {
    .inner {
      fill: $white;
    }

    .outer {
      stroke: $white;

      &:hover {
        fill: transparent;
      }
    }
  }
}

/* Nav Dots on Story Pages*/
.story-page {
  .nav-dot {

    .outer {
      stroke: $dot-grey;
    }

    &:hover {

      .inner {
        fill: $dot-grey;
      }

      .outer {
        fill: rgba(0,0,0,.075);
      }
    }

    &.active .outer {
      stroke: $dot-grey;

      &:hover {
        fill: transparent;
      }
    }
  }

  /* Economics*/
  .nav-dot.economics-dot.active .inner {
    fill: $green;
  }

  &.story-page_economics .dot-nav h3 a {
    color: $green;
  }

  /* Education*/
  .nav-dot.education-dot.active .inner {
    fill: $maroon;
  }

  &.story-page_education .dot-nav h3 a {
    color: $maroon;
  }

  /* Global*/
  .nav-dot.global-dot.active .inner {
    fill: $purple;
  }

  &.story-page_global .dot-nav h3 a {
    color: $purple;
  }

  /* Health*/
  .nav-dot.health-dot.active .inner {
    fill: $teal;
  }

  &.story-page_health .dot-nav h3 a {
    color: $teal;
  }

  /* Society*/
  .nav-dot.society-dot.active .inner {
    fill: $pink;
  }

  &.story-page_society .dot-nav h3 a {
    color: $pink;
  }
}

@media screen and (max-width:767px) {

  /* Economics*/
  .story-page_economics .dot-nav .section-title.current {
    background-color: $green-subhead;

    a {
      color: $mobile-menu-grey;
    }
  }

  /* Education*/
  .story-page_education .dot-nav .section-title.current {
    background-color: $maroon-subhead;

    a {
      color: $mobile-menu-grey;
    }
  }

  /* Global*/
  .story-page_global .dot-nav .section-title.current {
    background-color: $purple-subhead;

    a {
      color: $mobile-menu-grey;
    }
  }

  /* Health*/
  .story-page_health .dot-nav .section-title.current {
    background-color: $teal-subhead;

    a {
      color: $mobile-menu-grey;
    }
  }

  /* Society*/
  .story-page_society .dot-nav .section-title.current {
    background-color: $pink-subhead;

    a {
      color: $mobile-menu-grey;
    }
  }
}
