/* NORC logo*/
.header-logo {
  left: 30px;
  position: fixed;
  top: 25px;
  width: 230px;
  z-index: 100;

  @media screen and (max-width:767px) {
    left: 19px;
    position: fixed;
    top: 18px;
    width: 175px;
  }
}

.story-page,
.main {

  .header-logo {
    width: 164px;

    @media screen and (max-width: 767px) {
      width: 150px;
    }
  }
}

#logo {

  .tagline {
    fill: $white-85;
  }

  .nrc {
    fill: $white-85;
  }

  .star {
    fill: $white;
  }
}

#color-logo {

  .nrc {
    fill: $putty;
  }

  .star {
    fill: $orange;
  }
}

.menu-button {
  @include transition(transform .3s ease-in-out);
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 25px;
  z-index: 200;

  @media screen and (max-width: 767px) {
    height: 22px;
    right: 20px;
    top: 18px;
    width: auto;
  }

  &.menu-open {
    -webkit-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
  }
}

.share-button {
  position: fixed;
  right: 83px;
  top: 25px;
  z-index: 200;

  @media screen and (max-width: 767px) {
    right: 76px;
    top: 18px;

    img {
      height: 22px;
      width: auto;
    }
  }
}

.header-background {
  @include transition(background-color .3s ease-in-out)
  background-color: transparent;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;

  &.scrolled {
    background-color: $black-32;
  }
}

/* Sub Navigation for Story Pages*/
.sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 80px;
  width: 100vw;
  z-index: 12;
  display: none; // Just for working on Mobile

  .story-item {
    color: $black-50;
    font-size: 14px;
    height: auto;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    @include transition(color .2s ease-in-out, background-color .2s ease-in-out, font-size .3s ease-in-out, padding .3s ease-in-out);

    @media screen and (max-width: 1024px) {
      font-size: 13px;
      padding: 10px;
    }

    @media screen and (max-width: 860px) {
      font-size: 12px;
      padding: 10px 6px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      padding: 9px;
      width: 100vw !important;
    }

    &:hover {
      @include transition(color .4s ease-in-out, background-color .4s ease-in-out);
    }
  }

  @media screen and (max-width: 767px) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0 45px;
  }
}
