/* NORC logo*/
.header-logo {
  left: 30px;
  position: fixed;
  top: 25px;
  width: 230px;
  z-index: 100;

  @media screen and (max-width:767px) {
    left: 20px;
    position: fixed;
    top: 20px;
    width: 175px;
  }
}

.story-page,
.main {

  .header-logo {
    width: 164px;

    @media screen and (max-width: 767px) {
      width: 120px;
    }
  }
}

.menu-button {
  @include transition(transform .3s ease-in-out);
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 25px;
  z-index: 200;

  @media screen and (max-width: 767px) {
    height: 38px;
    right: 10px;
    padding: 10px;
    top: 10px;
    width: auto;
  }

  &.menu-open {
    -webkit-transform: rotateZ(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotateZ(-180deg);

    @media screen and (max-width: 767px) {
      background-color: $white;
    }
  }
}

.share-button {
  position: fixed;
  right: 83px;
  top: 25px;
  z-index: 99;

  @media screen and (max-width: 767px) {
    right: 59px;
    top: 10px;

    img {
      height: 38px;
      padding: 10px;
      width: auto;
    }
  }
}

.story-page .header-background {
  @include transition(background-color .3s ease-in-out);
  background-color: transparent;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;

  @media screen and (max-width: 767px) {
    height: 58px;
  }

  &.scrolled {
    background-color: $black;
  }
}

.main .header-background {
  @media screen and (max-width:767px) {
    background-color: $black;
    height: 56px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
  }
}


/* Sub Navigation for Story Pages*/
.sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  top: 80px;
  width: 100vw;
  z-index: 12;

  &.mobile {
    display: none;
  }

  @media screen and (max-width: 767px) {
    &.desktop {
      display: none !important;
    }

    &.mobile {
      display: block;
      padding: 0;
      top: 83px;

      &.open-menu {
        @include transition(all .1s ease-in-out);
        border-bottom: 1px solid $black-3;
      }

      .menu-items {
        display: none;

        .menu-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -ms-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 18px 0 0;
        }
      }

      .load-more {
        margin: 10px 0 0;
        text-align: center;
        width: 100vw;

        &-text {
          @include transition(opacity .4s ease-in-out);
          color: $mobile-menu-grey;
          font-size: 10px;
          letter-spacing: 2px;
          line-height: 10px;
          margin: 0 0 -9px;
          opacity: 1;
          text-transform: uppercase;
        }

        .arrow {
          @include transition(transform .2s ease-in-out);
          height: 24px;
          margin-left: 0;
          padding: 12px 0 4px;
          -webkit-transform: scaleX(2);
          -ms-transform: scaleX(2);
          transform: scaleX(2);
          width: 22px;
        }

        &.open-menu {
          margin: 15px 0 0;
          
          .load-more-text {
            @include transition(opacity .2s ease-in-out);
            opacity: 0;
          }

          .arrow {
            @include transition(transform .3s ease-in-out);
            -webkit-transform: rotate(-180deg) translateY(4px) scaleX(2);
            -ms-transform: rotate(-180deg) translateY(4px) scaleX(2);
            transform: rotate(-180deg) translateY(4px) scaleX(2);
          }
        }
      }
    }
  }

  .story-item {
    color: $black-41;
    font-size: 14px;
    height: auto;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    @include transition(color .2s ease-in-out, background-color .2s ease-in-out, font-size .3s ease-in-out, padding .3s ease-in-out);

    @media screen and (max-width: 1024px) {
      font-size: 13px;
      padding: 10px;
    }

    @media screen and (max-width: 860px) {
      font-size: 12px;
      padding: 10px 6px;
    }

    @media screen and (max-width: 767px) {
      color: $mobile-menu-grey;
      font-size: 15px;
      line-height: 20px;
      padding: 10px 20px;
      text-align: left;
      width: 100vw !important;
    }

    &:hover {
      @include transition(color .4s ease-in-out, background-color .4s ease-in-out);
    }
  }
}
